<a href="/restaurants">Back to the list</a>

<!-- The @restaurant instance variable comes from the -->
<!-- app.rb get for "/restaurants/:id" -->
<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.address %></p>
<p>Rated: <%= @restaurant.rating %></p>
